<div class="container-fluid">
    <div class="row main-row">
    <!-- Left Column -->
    <div class="col-xs-3 sidebar">
        <!-- Main Navigation -->
        <ul class="nav nav-sidebar">
        <li id="floorplan_tab"><a>
            2D Floorplan
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a></li>
        <li id="design_tab"><a>
            3D Design
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a></li>
        <li id="items_tab"><a>
            Add Items
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a></li>
        </ul>
        <hr />

        <!-- Context Menu -->
        <div id="context-menu">
        <div style="margin: 0 20px">
            <span id="context-menu-name" class="lead"></span>
            <br /><br />
            <button class="btn btn-block btn-danger" id="context-menu-delete">
            <span class="glyphicon glyphicon-trash"></span> 
            Delete Item
            </button>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">Adjust Size</div>
            <div class="panel-body" style="color: #333333">

            <div class="form form-horizontal" class="lead">
                <div class="form-group">
                <label class="col-sm-5 control-label">
                    Width
                </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="item-width">
                </div>
                </div>
                <div class="form-group">
                <label class="col-sm-5 control-label">
                    Depth 
                </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="item-depth">
                </div>
                </div>
                <div class="form-group">
                <label class="col-sm-5 control-label">
                    Height
                </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="item-height">
                </div>
                </div>
            </div>
            <small><span class="text-muted">Measurements in inches.</span></small>
            </div>
        </div>

        <label><input type="checkbox" id="fixed" /> Lock in place</label>
        <br /><br />
        </div>
        </div>

        <!-- Floor textures -->
        <div id="floorTexturesDiv" style="display:none; padding: 0 20px">
        <div class="panel panel-default">
            <div class="panel-heading">Adjust Floor</div>
            <div class="panel-body" style="color: #333333">

            <div class="col-sm-6" style="padding: 3px">
                <a  class="thumbnail texture-select-thumbnail" texture-url="rooms/textures/light_fine_wood.jpg" texture-stretch="false" texture-scale="300">
                <img alt="Thumbnail light fine wood" src="rooms/thumbnails/thumbnail_light_fine_wood.jpg" />
                </a>
            </div>
            </div>
        </div>
        </div>

        <!-- Wall Textures -->
        <div id="wallTextures" style="display:none; padding: 0 20px">
        <div class="panel panel-default">
            <div class="panel-heading">Adjust Wall</div>
            <div class="panel-body" style="color: #333333">
            <div class="col-sm-6" style="padding: 3px">
                <a  class="thumbnail texture-select-thumbnail" texture-url="rooms/textures/marbletiles.jpg" texture-stretch="false" texture-scale="300">
                <img alt="Thumbnail marbletiles" src="rooms/thumbnails/thumbnail_marbletiles.jpg" />
                </a>
            </div>
            <div class="col-sm-6" style="padding: 3px">
                <a  class="thumbnail texture-select-thumbnail" texture-url="rooms/textures/wallmap_yellow.png" texture-stretch="true" texture-scale="">
                <img alt="Thumbnail wallmap yellow" src="rooms/thumbnails/thumbnail_wallmap_yellow.png" />
                </a>
            </div>
            <div class="col-sm-6" style="padding: 3px">
                <a  class="thumbnail texture-select-thumbnail" texture-url="rooms/textures/light_brick.jpg" texture-stretch="false" texture-scale="100">
                <img alt="Thumbnail light brick" src="rooms/thumbnails/thumbnail_light_brick.jpg" />
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Left Column -->
    <div class="col-xs-9 main">

        <div class='timeline-bar-container'>
            <span id='start-time'>Start</span>
            <input class='timeline-bar' id="timeline-bar-3d" type='range' />
            <span id='end-time'>End</span>

        </div>
        <div style="text-align: center; margin-top: 5px;">
            <p id="rangeValue">Plan time:</p>
        </div>

        <!-- 3D Viewer -->
        <div id="viewer">

        <%# <div id="main-controls">
            <a  class="btn btn-default btn-sm" id="new">
            New
            </a>
            <a  class="btn btn-default btn-sm" id="saveFile">
            Save
            </a>
            <a class="btn btn-sm btn-default btn-file">
            <input type="file" class="hidden-input" id="loadFile">
            Load
            </a>
        </div> %>

        <div id="camera-controls">

            <a  class="btn btn-default bottom" id="zoom-out">
            <span class="glyphicon glyphicon-zoom-out"></span>
            </a>
            <a  class="btn btn-default bottom" id="reset-view">
            <span class="glyphicon glyphicon glyphicon-home"></span>
            </a>
            <a  class="btn btn-default bottom" id="zoom-in">
            <span class="glyphicon glyphicon-zoom-in"></span>
            </a>
            
            <span>&nbsp;</span>

            <a class="btn btn-default bottom"  id="move-left" >
            <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
            <span class="btn-group-vertical">
            <a class="btn btn-default" id="move-up">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </a>
            <a class="btn btn-default" id="move-down">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </a>
            </span>
            <a class="btn btn-default bottom" id="move-right" >
            <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </div>

        <div id="loading-modal">
            <h1>Loading...</h1>  
        </div>
        </div>

        <!-- 2D Floorplanner -->
        <div id="floorplanner">
        <canvas id="floorplanner-canvas"></canvas>
        <div id="floorplanner-controls">

            <button id="move" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-move"></span>
            Move Walls
            </button>
            <button id="draw" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
            Draw Walls
            </button>
            <button id="delete" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-remove"></span>
            Delete Walls
            </button>
            <span class="pull-right">
            <button class="btn btn-primary btn-sm" id="update-floorplan">Done &raquo;</button>
            </span>

        </div>
        <div id="draw-walls-hint">
            Press the "Esc" key to stop drawing walls
        </div>
        </div>

        <!-- Add Items -->
        <div id="add-items">
        <div class="row" id="items-wrapper">

            <!-- Items added here by items.js -->
        </div>
        </div>
    
    </div>
    <!-- End Left Column -->
    <div class="modal" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="createItemWidth" class="col-form-label">Width (inch)</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="createItemWidth" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center" style="margin-top:1em">
                    <div class="col-auto">
                        <label for="createItemDepth" class="col-form-label">Depth (inch)</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="createItemDepth" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center" style="margin-top:1em">
                    <div class="col-auto">
                        <label for="createItemRotation" class="col-form-label">Rotation</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="createItemRotation" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center" style="margin-top:1em">
                    <div class="col-auto">
                        <label for="createItemDescription" class="col-form-label">Description</label>
                    </div>
                    <div class="col-auto">
                        <input id="createItemDescription" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center" style="margin-top:1em">
                    <div class="col-auto">
                        <label for="createItemSetupStartTime" class="col-form-label">Setup Start</label>
                    </div>
                    <div class="col-auto">
                        <input type="datetime-local" id="createItemSetupStartTime" class="form-control datetimepicker-input" />
                    </div>
                    <div class="col-auto">
                        <label for="createItemSetupEndTime" class="col-form-label">Setup End</label>
                    </div>
                    <div class="col-auto">
                        <input type="datetime-local" id="createItemSetupEndTime" class="form-control datetimepicker-input" />
                    </div>
                </div>
                <div class="row g-3 align-items-center" style="margin-top:1em">
                    <div class="col-auto">
                        <label for="createItemBreakdownStartTime" class="col-form-label">Breakdown Start</label>
                    </div>
                    <div class="col-auto">
                        <input type="datetime-local" id="createItemBreakdownStartTime" class="form-control datetimepicker-input" />
                    </div>
                    <div class="col-auto">
                        <label for="createItemBreakdownEndTime" class="col-form-label">Breakdown End</label>
                    </div>
                    <div class="col-auto">
                        <input type="datetime-local" id="createItemBreakdownEndTime" class="form-control datetimepicker-input" />
                    </div>
                </div>
            </div>
            <%# <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmCreateBtn" data-bs-dismiss="modal">Create</button>
            </div> %>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelCreateBtn">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmCreateBtn">Create</button>
            </div>
        </div>
    </div>
</div>
</div>
    </div>

    <div id="snapshotData" data-param=""></div>
</div>

<script>
  // Declare a variable to hold the start_date
  let startDate;
  const slider = document.getElementById('timeline-bar-3d');

  // Fetch data from floorplan.json
  fetch('/floorplan.json')
    .then(response => response.json())
    .then(data => {
      // Assign the start_time to the startDate variable
      startDate = data.timeline.start_time;
      //update slider with Plan time as startDate
      updateTime(0, startDate);
    })
    .catch(error => console.error('Error fetching floorplan.json:', error));

    function addMinutesToDate(date, minutes) {
      return new Date(date.getTime() + minutes * 60000);
    }

    // Function to update the date displayed based on the slider value
    function updateTime(value, start_time){
      var date = new Date(start_time);
      var month = date.getUTCMonth() + 1;
      var day = date.getUTCDate();
      var year = date.getUTCFullYear();

      date = addMinutesToDate(date, value);
        
      var hour = date.getUTCHours();
      var minute = date.getUTCMinutes();

      minute = minute < 10 ? '0'+minute : minute;
      var strTime = year + '-' + month + '-' + day + ' ' + hour + ':' + minute;
      current_time = strTime;
      document.getElementById('rangeValue').innerHTML = "Plan time: " + strTime;
    }

    slider.oninput = function() {
      //update slider with Plan time as calculated Date
      updateTime(slider.value - slider.min, startDate);
    };

</script>


<style>
/* Base styles for the modal */
/* Base styles for the modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055; /* Adjust z-index as needed for layering */
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
.modal-dialog {
    max-width: 800px; /* Max width for larger dialogs */
    margin: 1.75rem auto; /* Center the dialog */
}
.modal-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff; /* White background for the modal */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Light border */
    border-radius: 0.3rem; /* Rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}
/* Header styles */
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; /* Padding around header */
    border-bottom: 1px solid #dee2e6; /* Border below header */
}
.modal-title {
    margin: 0; /* Remove default margin */
    font-size: 1.5rem; /* Larger title */
}
/* Close button */
.btn-close {
    background: none;
    border: none;
    font-size: 1.5rem; /* Bigger close button */
    cursor: pointer; /* Pointer cursor on hover */
}
/* Body styles */
.modal-body {
    padding: 1rem; /* Padding around body */
}
.row {
    margin-bottom: 1rem; /* Space between rows */
}
/* Form control styles */
.form-control {
    display: block;
    width: 100%; /* Full width input */
    padding: 0.375rem 0.75rem; /* Padding */
    font-size: 1rem; /* Font size */
    line-height: 1.5; /* Line height */
    color: #495057; /* Text color */
    background-color: #fff; /* White background */
    border: 1px solid #ced4da; /* Light border */
    border-radius: 0.25rem; /* Rounded corners */
}
/* Footer styles */
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; /* Padding around footer */
    border-top: 1px solid #dee2e6; /* Border above footer */
}
/* Button styles */
.btn {
    padding: 0.375rem 0.75rem; /* Padding */
    font-size: 1rem; /* Font size */
    font-weight: 400; /* Font weight */
    text-align: center; /* Centered text */
    border: 1px solid transparent; /* Default border */
    border-radius: 0.25rem; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
}
.btn-primary {
    color: #fff; /* White text */
    background-color: #007bff; /* Primary color */
    border-color: #007bff; /* Border matching primary color */
}
.btn-secondary {
    color: #fff; /* White text */
    background-color: #6c757d; /* Secondary color */
    border-color: #6c757d; /* Border matching secondary color */
}
/* Optional: Style for disabled button state */
.btn:disabled {
    opacity: 0.65; /* Slightly transparent */
    cursor: not-allowed; /* Not-allowed cursor */
}
</style>