<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>PlanNXT | 3D Room</title>
    <base href="/blueprints3d/" />

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/example.css" rel="stylesheet">

    <!-- Make sure you've built print3d.js -->
    <!-- See README.md for details -->
    <script src="js/blueprint3d.js"></script>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    
    <script src="js/items.js"></script>
    <script src="js/example.js"></script>

        <!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

<!-- Include jQuery -->
<%# <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> %>

<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

  </head>
  <body>
    <%= yield %>
  </body>
</html>